{% extends "base_generic.html" %} {% block content %}
<h1>Book List</h1>
{% if book_lists %}
<ul>
  {% for book in book_lists %}
  <li>
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
  </li>

  <li>({{book.author}})</li>

  {% endfor %}
</ul>
{% else %}
<p>There are no books in the library.</p>

{% endif %} {% endblock %}

<!-- 

id = book.id

 -->
<!--  
  singleBook = Book.objects.filter(id = <id>)

  step 1. take the id of individual book to get more info
  step. based on found ID, we ll query on database take all details of that book
  
  
  -->
