{% extends "base_generic.html" %} {% block content %}
<h1 class="book-heading">Book List</h1>
<div class="booklists">
  {% if book_lists %}
  <table>
    <tr>
      <th>Book Title</th>
      <th>Author</th>
    </tr>
    {% for book in book_lists %}
    <tr>
      <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
      <td><a href="{{ book.author.get_absolute_url }}">{{book.author}}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>There are no books in the library.</p>
</div>
{% endif %} {% endblock %}
