{% extends "base_generic.html" %} {%block rightsidebar%}
<h2>Mr Roshan</h2>
{%endblock%} {% block content %}

<title>Local Library</title>

<h1>Local Library</h1>
<p>
  Welcome to Local Library, a Website developed by
  <em>MOZILA DEVELOPER NETWORK</em>
</p>
<h2>Dynamic Content</h2>
<p>The library has the following record counts:</p>
<ul>
  <li><strong>Books: </strong>{{num_books}}</li>
  <li><strong>Copies:</strong> {{ num_instances }}</li>
  <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
  <li><strong>Authors:</strong> {{ num_authors }}</li>
  <li><strong>Books on Loan: </strong>{{ books_on_loan }}</li>
  <li><strong>Total Genre: </strong>{{totalGenre}}</li>
  {% endblock %}
</ul>
