{% extends "base_generic.html" %} {% block content %}
<h1>Author List</h1>
{% if author_list %}
<table class="table table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Date of Birth</th>
    <th>Date of Death</th>
  </tr>
  </thead>
  <tbody>
  {% for author in author_list %}
  <tr>
    <td><a href="{{ author.get_absolute_url }}"
      >{{author.first_name}} {{ author.last_name }}</a
    ></td>
    <td>{{ author.date_of_birth }}</td>
    <td>{{ author.date_of_death }}</td>
    <td>
      <button class="btn btn-secondary">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
  {% endfor %}
  </tbody>

</table>




{% else %}
<p>There are no authors in the library.</p>

{% endif %} {% endblock %}

<!-- 

id = book.id

 -->
<!--  
  singleBook = Book.objects.filter(id = <id>)

  step 1. take the id of individual book to get more info
  step. based on found ID, we ll query on database take all details of that book
  
  
  -->
