{% extends "base_generic.html" %} {% block content %}
<h3>All Borrowed Books</h3>

{% if perms.catalog.can_view_book_instances %} {% if bookinstance_list %}

<ul>
  {% for bookinst in bookinstance_list %}
  <script>
    console.log(bookinst.book.id)
  </script>
  <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
    <a href="{% url 'all-borrowed' %}"
      >{{bookinst.book.title}}</a
    >
    {% if perms.catalog.can_mark_returned %}-
    <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a> {% endif %}
    ({{ bookinst.due_back }}) - {{ bookinst.borrower }}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no books borrowed.</p>
{% endif %} {% else %} {% endif %}{% endblock %}
